/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body{
  padding: 20px;
  margin-top: 150px;
  background: url("http://www.worldpropertychannel.com/news-assets/denver-lofts-apartments-residential.jpg");
}

a {
  text-decoration: none;
  color: #044559;
}

a:hover {
  color: #004C35;
}

a:visited {
  color: #056361;
}

header {
  position: fixed;
  top: 20px;
  right: 40px;
  background-color: rgba(233, 233, 233, .8);
}

header .menu li {
  list-style-type: none;
  float: left;
  padding-right: 5px;
  padding-left: 5px;
  border-style: solid;
  border-width: 0px 1px 0px 0px;
  border-color: black;
}


form {
  background-color: rgba(233, 233, 233, .8);
  padding: 40px;
  width: 153px;
  height: 600px;
  float: left;
}



.menu li a{
  color: black;
  text-decoration: none;

}

li a{
  color: black;
  text-decoration: none;

}
.menu li a:hover{
  color: rgb(66, 66, 66);

}

li a:hover{
  color: rgb(66, 66, 66);

}

body {
  font-family: sans-serif;
}

.results {
   float: center;
   right: 40px;
   background-color: rgba(233, 233, 233, .8);
}

.title {
  font-family: arial-black;
}


.apt_show form {
    width: 100px;
    height: 150px;
}

.apt_show ul {
  float: right;
  background-color: rgba(233, 233, 233, .8);
}

.map img {
  margin-top: 20px;
  margin-left: 350px;
}
.client_faves li{
  background-color: rgba(233, 233, 233, .8);
 
}

p {

  width: 50%;
}




